body{
    background-color: #0C134F;
    font-family: 'Poppins', sans-serif;;
}

.body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    z-index: 1;
    border: 1px solid #D4ADFC;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #D4ADFC;
    overflow: hidden;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}


.title{
    display: flex;
    font-size: 20pt;
}

.textfield{
    height: 30px;
    width: 250px;
    border: 1px solid #D4ADFC;
    border-radius: 4px;
}

.signin-btn{
    height: 30px;
    border: 1px solid #1D267D;
    background-color: #1D267D;
    color: white;
    border-radius: 4px;
}

.signin-btn:hover{
    cursor: pointer;
    background-color: #2CD3E1;
    border: 1px solid #2CD3E1;
    padding: 2px;
    transition: 1.2s;
}

.background-canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  
  .background-canvas {
    width: 100%;
    height: 100%;
  }